<template name="school_home">
    <h3>School Management System!</h3>

    <!--<a href="{{pathFor 'school.student'}}">-->
        <!--<map name="Map" id="Map">-->
            <!--<area shape="circle" coords="372,90,35" class="{{isActiveRoute name='school.student'}}"/>-->
        <!--</map>-->
    <!--</a>-->

    <!--<div class="row" style="margin: 0 auto;">-->
        <!--<div class="col-md-2"></div>-->
        <!--<div class="col-md-8">-->
            <!--<img style="display: block; margin-left: auto; margin-right: auto;width: 100%"-->
                 <!--src="/school_management_system.jpg" border="0" usemap="#Map"/>-->
        <!--</div>-->
        <!--<div class="col-md-2"></div>-->
    <!--</div>-->
</template>
